.car{
    display: flex;
    justify-content: center;
}

.caro{
    width: 1100px;
    background-color: gainsboro;
    
}

.carocan{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.singleimg{
    width: 550px;
    border-radius: 5%;
}

.single{
    padding: 5px;
}

.singimg{
    width: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5%;
}

.about{
    margin-left: 15px;
    margin-top: 10px;
}

.infor{
    margin-left: 45px;
    margin-top: 5px;
}